@model LojaVirtual.Models.Produto

<h2>Produto 01</h2>
<b>Id: </b> @Model.Id
<br />
<b>Nome: </b> @Model.Nome
<br />
<b>Descrição: </b> @Model.Descricao
<br />
<b>Valor: </b> @Model.Valor.ToString("C")  @{ /* mostra como moeda */ }


<br />
Todos os direitos reservados &copy; @DateTime.Now.Year